<div class="container">
  <div class="wrapper col-md-8 col-offset-2 col-sm-10 col-lg-8">
    <p><%= notice %></p>
    <h1>ブログ一覧</h1>
    <%= link_to "ブログを作成する", new_blog_path, class: 'btn btn-default' %>
    <% @blogs.each do |blog| %>
    <div class="row">
      <div>
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 img">
          <%= profile_img(blog.user) if profile_img(blog.user) %>
        </div>
        <div class="col-xs-8 col-sm-7 col-md-5 col-lg-5">
          <%= link_to relationship_path(blog.user) do %>
            <%= blog.user.name %>
          <% end %>が投稿しました。
        </div>
      </div>
      <div class="clear field-blogs-content">
        <%= link_to blog_path(blog) do %>
          <h4><strong><%= blog.title %></strong></h4>
        <% end %>
        <p><%= blog.content %></p>
        <%= link_to "", edit_blog_path(blog.id), class: "fa fa-pencil-square-o fa-lg" %>
        <%= link_to "", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: "fa fa-trash-o fa-lg" %>
      </div>
    </div>
    <% end %>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id ="move-page-top">▲</a></p>
  </div>
</div>
